body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #3498db, #c0392b);
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  background-color: #9197bc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(236, 233, 233, 0.1);
  overflow-y: auto;
  max-height: 500px;
}

h1, h2 {
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

input {
  display: block;
  margin-bottom: 20px;
  background-color: #ecf0f1;
  color: #333;
  margin-top: 20px;
  padding: 10px;
  border: 2px solid #baafaf;
  border-radius: 5px;
  font-size: 15px;

}
.now-playing {
  margin-top: 20px;
  background-color: rgb(61, 178, 210);
  color: #fff;
  padding: 15px;
  border-radius: 8px;
  font-size: 12px;
}

.playlist ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.playlist li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin: 8px 0;
  background-color: #d1dde0;
  border-radius: 15px;
}

.play-btn{
  background-color: hsl(211, 61%, 38%);
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 40px;
}

audio {
  width: 100%;
  margin-top: 15px;
  outline: none;
  border-radius: 8px;
}

/* .button {
  color: #ffffff;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 8px;
  font-size: 18px;
  transition: 0.3s ease;
  margin-left: 10px;
} */

.play-btn:hover {
  background-color: #1a3caa;
}

h1, h2 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 8px;
  border: 2px solid #ccc;
}

.delete-btn {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 15px;
  transition: light 0.3s ease;
}
.delete-btn:hover{
  background-color: rgb(190, 106, 106);
}
